/* Colors used:
Primary color (dark orange red): #D3542E
Secondary color (dark gray):#333333
                (white): #FFFFFF
*/
/*padding: 10px 5px;
    Adds a 10px inner spacing to top & bottom and 5px to left and right
  margin: 10px;
    Adds a 10px outer spacing to all sides*/

*{
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /*Sets the line-height to 1.6*/
  font-weight: 400;
  font-color:#333;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center; /*Centers text*/
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #D3542E;
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #D3542E;
}

a:hover, a:focus {
  color: #3366BB;
  text-decoration: none;
  /* No underlining when hovering navigating via mouse or keyboard */
}

a:active {
  /* selected link */
  color: #3366BB;
}

.button {
  /*overwrite browser defaults */
  border: none;
  /* reset the border */
  font-family: inherit;
  /*takes the font from the outer container */
  /* style button */
  background-color: #333333;
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  /*width of the border, type, & color*/
  transition: 0.2s background-color;
}

.button:hover, .button:focus {
  /*cursor: pointer; lets the mouse appear as hand when hovering over the button; in this case, line 71 is not needed because within my button is a hyperlink that includes the hand as a default feature*/
  background-color: rgba(51, 51, 51, 0.8);
  color: #FFF;
  /*Reduces the opacity of the button to 80%*/
}

.button-secondary {
  background-color: #90d5ec;
}


img{
  width:100%;
  /* sets image to 100% width of its parent element.  Parent element examples: header, columns, etc.*/
}

/* Layout stylying*/
.wrapper{
  /* don't want "width: 100%" under "wrapper"*/
  max-width: 1200px;
  margin: 0 auto;
  /*No spacing to top and bottom and auto spacing to left and right.  "Auto" automatically calculates left and right based on screen size.  "Auto only applies to margin and only to "left and right.*/
  padding: 0 20px;
}

.column-2 {
  width: 49%;
  display: inline-block;
  margin-right: 2%;
  text-align: center; /*Centers text*/
  float: left;
}

.column-2:last-child{
  margin-right: 0;
}

header{
  padding: 10px 0;
}

nav{
  float: right;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 30px;
}

.logo{
  width: 6em;
}

.social_icon {
  width: 3em;
}

@media all and (max-width: 767px) {
 body{
   font-size: 16px;
 }

  h1{
    /*Reduce font-size of heading*/
    font-size: 24px;
    text-align: left;
  }

  .column-2 {
    /*Modify 2-column to 1-column*/
    width: 100%;
    margin-right: 0;
  }
}
