/* Colors used:
Primary color (dark orange red): #D3542E
Secondary color (dark gray):#333333
                (white): #FFFFFF
*/

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /*Sets the line-height to 1.6*/
}

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

a{
  color:#D3542E
}

div{
  padding: 10px 5px;
  /*Adds a 10px inner spacing to top & bottom and 5px to left and right */
  margin: 10px;
  /*Adds a 10px outer spacing to all sides*/
}

a:hover, a:focus{
  text-decoration: none;
  /* No underlining when hovering navigating via mouse or keyboard */
}

a:visited{
  /* visited link */
  color: #551A8B
}

a:active{
  /* selected link */
  color: #3366BB
}

button{
  */overwrite browser defaults */
  border: none;
  /* reset the border */
  font-family: inherit;
  /*takes the font from the outer container */

/* style button */
background-color: #333333;
color:#FFFFFF !important;
text-decoration: none;
padding: 10px;
border-radius: 3px;
/*width of the border, type, & color*/
transition: 0.2s opacity;
}

button:hover, button:focus{
  cursor: pointer;
  /*lets the mouse appear as hand when hovering over the button*/
  opacity: 0.8;
  /*Reduces the opacity of the button to 80%*/
}

.button-secondary{background-color: #90d5ec;
}
